*{
  margin: 0;
}

body{
  background-color: #2F2E2D;
	overflow-y: hidden;
	overflow-x: hidden;
}

#input-with-icon-adornment{
    color: white;
    margin-right: 20em;
}

a{
  text-decoration: none;
  padding-left: 2em;
  padding-right: 2em;
}

a:hover{
  text-decoration: underline;
}

#navButton{
  margin-left: 3em;
}
